@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #212124;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    font-family: 'Roboto', sans-serif;
}

header {
    padding-top: 1rem;
    min-height: 10vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

img {
    max-width: 100%;
    border: 3px solid gray;
    border-radius: 9px;
    background-color: white;
}

section {
    padding: 1rem;
    min-height: 20rem;
    text-align: center;
    border: 3px solid gray;
    color: rgba(255, 255, 255, 0.87) !important;
}

.default {
    transition: all 1s;
    border-color: gray !important;
}

.p1 {
    transition: all 1s;
    border-color: #0077ff;
}

.p2 {
    transition: all 1s;
    border-color: #ff0076;
}

#statistika1,
#statistika2,
#skore1,
#skore2 {
    color: rgba(255, 255, 255, 0.7);
}

a.button {
    display: block;
    padding: 0.35em 53px;
    margin: 1rem;
    border: 0.1em solid #FFFFFF;
    border-radius: 9px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button:hover {
    cursor: pointer;
    color: #000000 !important;
    background-color: #FFFFFF;
}

footer {
    padding-top: 1rem;
    min-height: 10vh;
    color: rgba(255, 255, 255, 0.6);
    font-size: small;
}